/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #a79c9c;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100vh;
}

/* Headers */
h1, h2 {
  margin-bottom: 1rem;
  text-align: center;
  color: #444;
}

/* Buttons */
button {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem;
  background-image: linear-gradient(to bottom right, 
  rgb(114, 113, 197), 
  rgb(211, 211, 211));
}

.hidden {
  display: none;
}