/* Flex Helpers */
.flex {
    display: flex;
}

.direction-column {
    flex-direction: column;
}

/* Grid Helpers */
.grid {
    display: grid;
}

.grid-flow-column {
    grid-auto-flow: column;
}

/* List Helpers */
.align-items-center {
    align-items: center;
}

.align-content-center {
    align-content: center;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

