/* Main Layout */

.main-layout {
    display: grid;
    height: 100%;
    grid-template-rows: 6rem 1fr 4rem;
}

.main-layout > header {
    grid-row: 1;
}

.main-layout > main {
    grid-row: 2;
    padding: 2rem 1rem;
}

.main-layout > footer {
    grid-row: 3;

}