/* Main Layout */

.main-layout {
    display: grid;
    height: 100vh;
    grid-template-rows: 110px 1fr 80px;
    grid-template-columns: 10px 1fr 10px;
}

.main-layout>*:not(.full) {
    grid-column: 2;
}

.main-layout>.full {
    grid-column: -1 / 1;
}

.main-layout>.main-content-place {
    grid-row: 2;
    height: 100vh;
}